:root{
    --color-white: #ffffff;
    --color-dark: #2e2e2e;
}

/* CONFIGURAÇÕES DO HEADER */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 60px;
    gap: 200px;
}

.logo {
    height: 60px;
}

.primary-navgation {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.primary-navgation li a {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Bebas Neue', sans-serif;
    color: var(--color-dark);
    font-size: 35px;
}

.primary-navgation li a:hover {
    border-bottom: 1px solid var(--color-dark);
    opacity: .8;
}

.header i {
    display: none;
}

/* MAP CONFIG */


.map{
    height: 500px;
    width: 700px;
    border-radius: 20px;
    display: block;
    margin: 30px auto;
}


/* FOOTER CONFIG */

.container-footer {
    background-color: var(--color-dark);
    margin-bottom: 0;
}

.footer-text {
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 40px 0px;

}

.footer-text p {
    margin-bottom: 8px;

}



/* TABLET CONFIG */

@media(max-width: 900px) {
    /* HEADER CONFIG */

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;
        gap: 100px;
    }

    .logo {
        height: 40px;
    }

    .primary-navgation {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .primary-navgation li a {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Bebas Neue', sans-serif;
        color: var(--color-dark);
        font-size: 25px;
    }

    .primary-navgation li a:hover {
        border-bottom: 1px solid var(--color-dark);
        opacity: .8;
    }

    .header i {
        display: none;
    }

}

/* MOBILE CONFIG */

@media(max-width: 500px) {

    /* HEADER CONFIG */
    .logo {
        height: 35px;
    }

    .primary-navgation {
        display: none;
    }

    .primary-navgation li a {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 20px;
    }

    .header {
        justify-content: space-between;
        padding: 30px 15px;
    }

    .header .primary-navgation.active {
        background: var(--color-white);
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 150px;
        position: absolute;
        top: 80px;
        right: 0px;
        z-index: 5;
        padding: 30px;
        border-radius: 0 0 4px 4px;
        animation: upSection .8s ease-in-out forwards;
        box-shadow: -17px 19px 22px -11px rgba(0, 0, 0, 1);
    }

    .header i {
        display: block;
        font-size: 2rem;
        color: var(--color-dark);
        cursor: pointer;
    }
}


/* ANIMATION CONFIG */

@keyframes upSection {
    from {
        transform: translate3d(60px, 0, 0);
        transition: .5s ease-in-out;
    }

    to {
        transform: translate3d(0, 0, 0);

    }
}