:root {
    --color-white: #ffffff;
    --color-dark: #2e2e2e;
}

/* CONFIGURAÇÕES DO HEADER */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 60px;
    gap: 200px;
}

.logo {
    height: 80px;
}

.menu {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu li a {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Bebas Neue', sans-serif;
    color: var(--color-dark);
    font-size: 35px;
}

.menu li a:hover {
    border-bottom: 1px solid var(--color-dark);
    opacity: .8;
}

/* PROMO CONFIG */

.banner {
    width: 100%;
    height: 600px;

}

/* CARD CONFIG */

.card-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 500px;
    height: 600px;
    width: 900px;
    background-color: var(--color-white);
}

.card-text-container {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.subtitle {
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 400px;
    margin-bottom: 20px;
}



/* FOOTER CONFIG */

.container-footer {
    background-color: var(--color-dark);
    margin-bottom: 0;
}

.footer-text {
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 40px 0px;

}