:root{
    --color-white: #ffffff;
    --color-dark: #2e2e2e;
}

/*
 
 font-family: 'Bebas Neue', sans-serif; 
 
 font-family: 'Montserrat', sans-serif; 


 FIGMA DO PROJETO:

 https://www.figma.com/file/WVMtINZcuRYAYWdAZIYNGV/Veneza-Pizzaria-(Community)?type=design&node-id=0-1&mode=design&t=MMG4ZK4it4PyKs6D-0


*/


/* CONFIGURAÇÕES DO HEADER */




/* CONFIGURAÇÕES DO HOME */





/* CONFIGURAÇÕES DO ABOUT */






/* CONFIGURAÇÕES DO PROMO */








/* CONFIGURAÇÕES DO FOOTER */